.navbar {
  * {
    color: #fff;
  }

  background: var(--pry-color);
  padding: 3.4rem 0;
  align-content: center;
  position: sticky;
  top: 0;
}

.navbar section {
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 4.5rem;

    ul {
      display: flex;
      gap: 3rem;

      a {
        color: #bbbbcb;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}

.navbar :global(.active) {
  color: #fff;
}
