.missionSection {
  background: var(--accent-color);

  section {
    display: grid;
    gap: 9.6rem;
  }

  .statement {
    display: flex;
    gap: 14rem;
    background-color: red;
  }

  .statementDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
  }

  .statementImgBox {
    width: 51.5rem;
    height: 33.5rem;

    img {
      height: 100%;
    }
  }
}

/* @media only screen and (max-width: 768px) {
    .missionSection {
      .statement {
        display: none;
        flex-direction: row;
      }
    }
  } */
