.aboutStn {
  section {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-areas: "left right";

    header {
      grid-area: left;
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 0 3rem 0 0;
      h1 {
        margin-bottom: 2.4rem;
      }

      p {
        width: 65%;
      }
    }
  }

  .imgContainer {
    grid-area: right;
    width: 100%;
    height: 33.6rem;
    background: url(../_images/about-page/group-of-people-sitting-indoors-3184360.png);
  }
}

@media only screen and (max-width: 1024px) {
  .aboutStn {
    section {
      grid-template-columns: 1fr 1fr;
      /* padding: 0 2rem; */

      .imgContainer {
        background-repeat: no-repeat;
        background-position: center;
      }

      header {
        h1 {
          text-align: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .aboutStn {
    section {
      grid-template-columns: 1fr;
      gap: 4rem;
      grid-template-areas:
        "right"
        "left";

      header {
        align-items: center;
        h1 {
          font-size: 4rem;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
.attrStn {
  section {
    display: grid;

    .attrTop {
      background: var(--grey-color);
      /* background: #f4f5f5; */
      padding: 8rem;
      h5 {
        margin-bottom: 0.4rem;
      }
    }

    .attributes {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .attribute {
        width: 92%;
        display: grid;
        gap: 1.6rem;
      }
    }

    .imageBox {
      height: 34rem;
      background: url(../_images/about-page/pexels-rdne-7413916.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .attrStn {
    section {
      h5 {
        text-align: center;
        font-size: 2rem;
        font-style: italic;
      }
      .attributes {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 3rem;

        p,
        h3 {
          text-align: center;
        }
      }
    }
  }
}

.processStn {
  section {
    display: grid;
    gap: 4.8rem;

    h2 {
      text-align: center;
    }

    .processes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3.2rem;
      z-index: 1;

      .process {
        display: grid;
        gap: 0.8rem;

        .design {
          display: grid;
          grid-template-columns: 2.4rem 1fr;
          gap: 2.4rem;
          align-items: center;
          padding-bottom: 2.4rem;

          .ball {
            width: 2.4rem;
            height: 2.4rem;
            background: var(--blue-color);
            border-radius: 50%;
          }

          .dashes {
            width: 90%;
            height: 0.2rem;
            border: 1px dashed var(--blue-color);
            opacity: 40%;
          }
        }

        p {
          opacity: 70%;
        }
      }
    }
  }
}

.missionSection {
  background: var(--accent-color);

  section {
    display: grid;
    gap: 9.6rem;
  }

  .statement {
    display: flex;
    gap: 14rem;
    background-color: red;
  }

  .statementDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
  }

  .statementImgBox {
    width: 51.5rem;
    height: 33.5rem;

    img {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .missionSection {
    .statement {
      display: none;
      flex-direction: row;
    }
  }
}
.benefitSection {
  section {
    display: grid;
    gap: 4.8rem;

    h2 {
      text-align: center;
      width: 50%;
      margin: auto;
    }
  }
}

.teamSection {
  background: var(--grey-color);

  section {
    display: grid;
    gap: 4.8rem;

    h2 {
      text-align: center;
    }

    .team {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
    }

    .profile {
      background: #fff;
      padding: 4.8rem 6.4rem 3.2rem;
      display: grid;
      align-items: center;
    }

    .imgHolder {
      width: 16.8rem;
      height: 16.8rem;
      border-radius: 50%;
      margin-bottom: 3rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h4,
    p {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .teamSection {
    section {
      .team {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
      }

      .profile {
        place-content: center;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .teamSection {
    section {
      .team {
        grid-template-columns: 1fr;
        gap: 4rem;
      }
    }
  }
}
