.faqSection {
  section {
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
  }

  .left {
    h2 {
      width: 75%;
    }
    a {
      color: var(--blue-color);
    }
  }

  .faq {
    padding: 3.2rem 0;
    border-bottom: 2px solid #ececf1;

    .questionBar {
      display: grid;
      grid-template-columns: 0.1fr 0.8fr 0.1fr;
      align-items: center;

      p {
        color: var(--blue-color);
      }

      .imgCtn {
        * {
          transition: all 0.3s;
        }

        display: grid;
        place-content: center;
        height: 100%;
        cursor: pointer;
      }

      img {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    .answerBar {
      padding: 1.6rem 15rem 1.6rem 8rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .faqSection {
    section {
      grid-template-columns: unset;
      /* justify-items: center; */
      gap: 3rem;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem 5rem;
      flex-wrap: wrap;

      h2 {
        width: unset;
      }
    }
  }
}
