.sponsorSection {
  section {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    align-items: center;
  }

  .sponsorLogos {
    display: flex;
    justify-content: space-evenly;

    img {
      height: 3.2rem;
      width: fit-content;
    }
  }
}
