/* grid-template-columns: repeat(autofit, minmax(320px, 1fr)); */
:root {
  --pry-color: #1c1e53;
  --sec-color: #f4f6fc;
  --accent-color: #eef4fa;
  --yellow-color: #fcd980;
  --blue-color: #2405f2;
  --dark-color: #282938;
  --grey-color: #f4f6fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

section {
  max-width: 1280px;
  margin: auto;
}

.logo {
  width: 12.2rem;
  height: 2.4rem;
}

.turn {
  transition: all 0.3s;
  rotate: 135deg;
}

.scroll-in {
  transition: all 1s;
}

.hidden-stn {
  opacity: 0;
  transform: translateY(8rem) scale(0.8);
}

.fs-64-700 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 8.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-64-600 {
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 8.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-58-700 {
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-58-600 {
  font-weight: 600;
  font-size: 5.8rem;
  line-height: 8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-58-500 {
  font-weight: 500;
  font-size: 5.8rem;
  line-height: 8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-54-700 {
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 7.4rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-54-600 {
  font-weight: 600;
  font-size: 5.4rem;
  line-height: 7.4rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-54-500 {
  font-weight: 500;
  font-size: 5.4rem;
  line-height: 7.4rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-48-700 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-48-600 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6.4rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-48-500 {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 6.4rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-38-700 {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 5.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-38-600 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 5.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-38-500 {
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 5.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-36-600 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 5.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-36-500 {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 5.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-32-600 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-32-500 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-32-400 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-28-600 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-28-500 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-28-400 {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-24-600 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-24-500 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-24-400 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-18-600 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-18-500 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-18-400 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-16-500 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-16-400 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-12-500 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.fs-12-400 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.8rem;
  letter-spacing: 0;
  /*
  @media only screen and (max-width: 1080px) {
    font-size: reduce(0.89, $fs-v);
    line-height: reduce(0.89, $lh-v);
  }

  @media only screen and (max-width: 767px) {
    font-size: reduce(0.78, $fs-v);
    line-height: reduce(0.78, $lh-v);
  }

  @media only screen and (max-width: 480px) {
    font-size: reduce(0.7, $fs-v);
    line-height: reduce(0.7, $lh-v);
  }
    */
}

.mb-86 {
  margin: 0 0 8.6rem;
}

.mb-64 {
  margin: 0 0 6.4rem;
}

.mb-48 {
  margin: 0 0 4.8rem;
}

.mb-40 {
  margin: 0 0 4rem;
}

.mb-32 {
  margin: 0 0 3.2rem;
}

.mb-24 {
  margin: 0 0 2.4rem;
}

.mb-20 {
  margin: 0 0 2rem;
}

.mb-16 {
  margin: 0 0 1.6rem;
}

.mb-12 {
  margin: 0 0 1.2rem;
}

.mb-8 {
  margin: 0 0 0.8rem;
}

.pd-128 {
  padding: 12.8rem 1.5rem;
}
@media only screen and (max-width: 1080px) {
  .pd-128 {
    padding: 9.984rem 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .pd-128 {
    padding: 9.6rem 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .pd-128 {
    padding: 6.912rem 1.5rem;
  }
}

.pd-96 {
  padding: 9.6rem 0;
}
@media only screen and (max-width: 1080px) {
  .pd-96 {
    padding: 7.488rem 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .pd-96 {
    padding: 7.2rem 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .pd-96 {
    padding: 5.184rem 1.5rem;
  }
}

.pd-16 {
  padding: 1.6rem 0;
}
@media only screen and (max-width: 1080px) {
  .pd-16 {
    padding: 1.248rem 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .pd-16 {
    padding: 1.2rem 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .pd-16 {
    padding: 0.864rem 1.5rem;
  }
}

.grd {
  display: grid;
}

.grd-col-640 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
  gap: 0;
}

.grd-col-405 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 0;
}

.grd-col-328 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 0;
}

.flx {
  display: flex;
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 53.125%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 48.7%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 46.875%;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 420px) {
  html {
    font-size: 40.625%;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 37.5%;
  }
}