.hero {
  color: #fff;
  background: var(--pry-color);
}

.hero section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  gap: 6rem;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  p {
    margin-bottom: 2.4rem;
  }
}

.links {
  display: flex;
  gap: 4rem;
  align-items: center;

  a {
    color: #fff;
  }

  .work {
    color: #1b1c2b;
    padding: 1.6rem 5.6rem;
    background: var(--yellow-color);
    border-radius: 4rem;
  }

  .pricing {
    color: var(--grey-color);
  }
}

.right {
  grid-area: right;
  width: 100%;

  img {
    width: 100%;
  }
}

/* @media only screen and (max-width: 1080px) {
  .hero {
    padding: 14px;
    background: var(--pry-color);
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    section {
      .left {
        h1 {
          font-size: 26px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .hero {
    margin: auto;
    section {
      grid-template-columns: 1fr;
      gap: 7.5rem;
      grid-template-areas:
        "right"
        "left";

      .right {
        width: 70%;
        margin: auto;
      }

      .left {
        text-align: center;
        width: 70%;
        margin: auto;

        h1 {
          font-size: 22px;
          line-height: 1.2;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: #ccc;
        }
      }

      .links {
        justify-content: center;
      }
    }
  }
} */

@media only screen and (max-width: 600px) {
  .hero section {
    display: flex;
    flex-direction: column;
  }

  .left {
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .links {
    justify-content: space-around;
  }

  .right {
    width: 80%;
    margin: auto;
  }
}
