.inqStn {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
  }

  .inqLeft {
    padding: 9.6rem 9.6rem 0 9.6rem;
    background: linear-gradient(#1c1e5380, #1c1e5380),
      url(../../_images/home-page/pexels-enginakyurt-3228878.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .inqRight {
    padding: 9.6rem 9.6rem 4.8rem 9.6rem;
    background: var(--pry-color);

    form {
      display: grid;
      gap: 4rem;

      legend {
        display: grid;
        gap: 1.6rem;
      }

      div {
        display: grid;
        gap: 1.6rem;

        input {
          padding: 1.8rem 3.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          width: 100%;
          background: none;
          border: 1.5px solid rgba(255, 255, 255, 0.055);
          border-radius: 0.8rem;
          color: #fff;
        }
      }

      .inqBottom {
        display: grid;
        gap: 2.4rem;
      }

      button {
        padding: 1.6rem 0;
        border-radius: 4rem;
        background: var(--yellow-color);
        font-family: "Poppins", sans-serif;
      }

      a {
        color: var(--grey-color);
        text-align: center;
      }
    }
  }
}

/* @media only screen and (max-width: 768px) {
    .inqStn {
      section {
        grid-template-columns: 1fr;
      }
    }
  } */
